.mesto__like-button {
    width: 22px;
    height: 19px;
    background-image: url(../../../images/like.svg);
    background-size: cover;
    border: none;
    background-color: #fff;
    padding: 0;
    background-position: center;
    margin-left: auto;
}

.mesto__like-button:hover {
    opacity: 0.5;
    cursor: pointer;
}

.mesto__like-button:active{
    background-image: url(../../../images/Union.png);
    opacity: 1;
}