.header__logo{
    display: block;
    background-image: url(../../../images/logo.png);
    width: 142px;
    height: 33px;
    background-size: cover;
}


@media screen and (max-width: 618px){
    .header__logo {
        box-sizing: border-box;
        margin-right: 27px;
        margin-left: 27px;
        width: 104px;
        height: 24px;
    }
}